.navbar-default{
  background-color:#118ad2;
  position: absolute;
  width: 100%;
  height: 70px;
  z-index: -1;
}

.navbar-default .navbar-brand{
  padding-left: 120px;
}

body{
  background : #FCFAFB;
  background : rgba(252, 250, 251, 1);
}

.contentContainer{
  background-color:white;
  position: relative;
  top: 70px;
  margin-top: 0;
}

.container{
  margin: auto;
}

.banner
{
  position: relative;
  top: -30px;
  height: 200px;
  width: 710px;
  margin: auto;
}

h2{
  font-family : UniversLTStd Light;
  font-size : 20px;
  color : #333333;
  color : rgb(51, 51, 51);
}

.lead{
  font-family : UniversLTStd Light;
  font-size : 18px;
  color : rgb(130, 130, 130);
}

#demo{
  height: 230px;
  width: 300px;
  margin: auto;
  margin-top: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #cecece;
}

#learnMore{
  background-image : url("../images/demo.png");
  background-repeat : no-repeat;
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 300px;
  margin: auto;
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-family : UniversLTStd LightCn;
  font-size : 22px;
  line-height : 24.8px;
  color : #424242;
  color : rgb(66, 66, 66);
}


.myButton{
  background : -moz-linear-gradient(50% 100% 90deg,rgba(236, 138, 0, 1) 0%,rgba(240, 153, 20, 1) 12.64%,rgba(247, 174, 49, 1) 34.92%,rgba(251, 189, 69, 1) 57.1%,rgba(254, 198, 82, 1) 78.93%,rgba(255, 201, 86, 1) 100%);
  background : -webkit-linear-gradient(90deg, rgba(236, 138, 0, 1) 0%, rgba(240, 153, 20, 1) 12.64%, rgba(247, 174, 49, 1) 34.92%, rgba(251, 189, 69, 1) 57.1%, rgba(254, 198, 82, 1) 78.93%, rgba(255, 201, 86, 1) 100%);
  background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(236, 138, 0, 1) ),color-stop(0.1264,rgba(240, 153, 20, 1) ),color-stop(0.3492,rgba(247, 174, 49, 1) ),color-stop(0.571,rgba(251, 189, 69, 1) ),color-stop(0.7893,rgba(254, 198, 82, 1) ),color-stop(1,rgba(255, 201, 86, 1) ));
  background : -o-linear-gradient(90deg, rgba(236, 138, 0, 1) 0%, rgba(240, 153, 20, 1) 12.64%, rgba(247, 174, 49, 1) 34.92%, rgba(251, 189, 69, 1) 57.1%, rgba(254, 198, 82, 1) 78.93%, rgba(255, 201, 86, 1) 100%);
  background : -ms-linear-gradient(90deg, rgba(236, 138, 0, 1) 0%, rgba(240, 153, 20, 1) 12.64%, rgba(247, 174, 49, 1) 34.92%, rgba(251, 189, 69, 1) 57.1%, rgba(254, 198, 82, 1) 78.93%, rgba(255, 201, 86, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#EC8A00', endColorstr='#FFC956' ,GradientType=0)";
  background : linear-gradient(0deg, rgba(236, 138, 0, 1) 0%, rgba(240, 153, 20, 1) 12.64%, rgba(247, 174, 49, 1) 34.92%, rgba(251, 189, 69, 1) 57.1%, rgba(254, 198, 82, 1) 78.93%, rgba(255, 201, 86, 1) 100%);
  border-style : Solid;
  border-color : #EDA33A;
  border-color : rgba(237, 163, 58, 1);
  border-width : 1px;
  border-radius : 5px;
  -moz-border-radius : 5px;
  -webkit-border-radius : 5px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC956',endColorstr='#EC8A00' , GradientType=0);
  color: white;
  font-weight: bold;
  width: 250px;
  margin: auto;
  margin-top: 50px;
}

#secureSearch{
  padding-top: 20px;
  height: 210px;
  width: 250px;
  margin: auto;
  border-bottom: 1px solid #cecece;
}

#para{
  font-family : UniversLTStd BoldCn;
  font-weight : bold;
  font-size : 14px;
  color : #797979;
  color : rgb(121, 121, 121);
}

h5{
  font-family : UniversLTStd Light;
  font-size : 16px;
  color : #333333;
  color : rgb(51, 51, 51);
}

.sidebarSection{
  position: relative;
  top: -10px;
}

#para1{
  font-family : UniversLTStd Light;
  font-size : 12px;
  color : #666666;
  color : rgb(102, 102, 102);
}

#mainArticle{
  padding-right:30px;
  border-right: 1px solid #cecece;
}

input{
  color: red;
  padding-bottom:20px;
}

.img-responsive{
  margin: 0 auto;
}

.input-group{
  padding-bottom: 10px;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}
